<?xml version='1.0' encoding='utf-8'?>
<widget id="Chatty" version="1.0.2">
    <name>Chatty</name>
    <content src="Pages/Login/login.html" />
    <access origin="http://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <!-- Enhancements for iOS platform -->
    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
    </platform>
</widget>
