<?xml version='1.0' encoding='utf-8'?>
<widget id="Chatty" version="1.0.0">
    <name>Chatty</name>
    <content src="Pages/Login/login.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*"/>
    <access origin="*" />
    <platform name="ios">
        <!-- iOS-specific preferences -->
        <preference name="DisallowOverscroll" value="false" />
        <preference name="AutoHideSplashScreen" value="true" />
        <!-- Allow navigation to specific URLs -->
        <allow-navigation href="http://*/*" />
        <allow-navigation href="https://*/*" />
        <access origin="*" />
    </platform>
</widget>
