@font-face {
    font-family: 'CustomRegular';
    src: url('../../public/assets/Fonts/PatuaOne.ttf');
}

*{
    box-sizing: border-box;
}

html, .login-body{
    height: 100%;
}

.login-body{
    display: grid;
    grid-template-rows: 100%;
}
.welcome-text{
    font-family: 'CustomRegular', sans-serif;
}

.logo{
    object-fit: contain;
    width: 70%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.user-form{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 20rem;
    min-width: 100%;
}

.custom-button {
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'CustomRegular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    z-index: 1;
    outline: none;
}

.custom-input {
    font-family: CustomRegular, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    height: 3rem;
    width: 17rem;
    outline: none;
    position: relative;
    z-index: 1;
}

.custom-input:focus {
    border-color: #c65584;
}

.login-button{
    margin: 0px 7rem;
    border-color: #c65584;
}

.login-button:hover {
    background-color: #c65584;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .login-body {background: #333; color: white; }
    .custom-button {background-color: #494949; color: #dedede;}
    .custom-input {background-color: #494949; color: #dedede; border: 2px solid #494949;}
}

@media (prefers-color-scheme: light) {
    .login-body {background: #E9E8E8; color: #363636; }
    .custom-button {background-color: #c2c2c2; color: #333333;}
    .custom-input {background-color: #c2c2c2; color: #333333; border: 2px solid #c2c2c2;}
}
